<!DOCTYPE html>
<html>

<head>
  <title>Matkapuhelin-arvostelut</title>
</head>

<body>
  <h1>Matkapuhelin-arvostelut</h1>

  {% if session.username %}
  <p>
    Kirjautunut nimellä {{ session.username }}, ID:esi on {{ session.user_id }}
  </p>
  {% endif %}

  <p>
    <a href="/login">Kirjaudu sisään</a>
    <a href="/register">Rekisteröidy</a>
    <a href="/logout">Kirjaudu ulos</a>
  </p>

  <p>
    <a href="/new_item">Uusi arvostelu</a>
  </p>

  <h2>Arvostelut</h2>
  <ul>
    {% for item in items %}
    <li><a href="/item/{{ item.id }}">{{ item.title }}</a></li>
    {% endfor %}
  </ul>
</body>

</html>