<!DOCTYPE html>
<html>

<head>
  <title>Uusi arvostelu</title>
</head>

<body>
  <h1>Uusi arvostelu</h1>
  <form action="/create_item" method="post">
    <p>
      Malli: <br />
      <input type="text" name="title" maxlength="50" required/>
    </p>
    <p>
      Arvostelu: <br />
      <textarea name="description"rows="8" cols="60" maxlength="2000" required></textarea>
    </p>
    <p>
      Arvio: <br />
      <input type="text" name="verdict" size="8" pattern="[0-5]" required/> /5
    </p>
    <p>
      Käyttöjärjestelmä: <br />
      <select name="os">
        <option value="">(valitse)</option>
        <option value="ios">iOS</option>
        <option value="android">Android</option>
        <option value="other">Muu</option>
      </select>
    </p>
    <p>
      Valmistaja: <br />
      <select name="maker">
        <option value="">(valitse)</option>
        <option value="apple">Apple</option>
        <option value="samsung">Samsung</option>
        <option value="Google">Google</option>
        <option value="Xiaomi">Xiaomi</option>
        <option value="vivo">vivo</option>
        <option value="oppo">OPPO</option>
        <option value="other">Muu</option>
      </select>
    </p>
    <input type="submit" value="Create post" />
  </form>
</body>

</html>