{% extends "layout.html" %}

{% block title %}Uusi arvostelu{% endblock %}

{% block content %}
<h2>Uusi arvostelu</h2>
<form action="/create_item" method="post">
  <p>
    <label for="title">Malli</label>: <br />
    <input type="text" name="title" id="title" maxlength="50" required/>
  </p>
  <p>
    <label for="description">Arvostelu</label>: <br />
    <textarea name="description" id="description" rows="8" cols="60" maxlength="2000" required></textarea>
  </p>
  <p>
    <label for="verdict">Arvio</label>: <br />
    <input type="text" name="verdict" id="verdict" size="8" pattern="[0-5]" required/> /5
  </p>
  {% for class in classes %}
  <p>
    <label for="class{{ class }}">{{ class }}</label>: <br />
    <select name="classes" id="class{{ class }}">
      <option value="">(valitse)</option>
    {% for option in classes[class] %}
      <option value="{{ class }}:{{ option }}">{{ option }}</option>
    {% endfor %}
    </select>
  </p>
  {% endfor %}
  <input type="hidden" name="csrf_token" value="{{ session.csrf_token}}" />
  <input type="submit" value="Luo arvostelu" />
</form>
{% endblock %}